!!! 5
html
  head
    title
      | Minecraft Player List
    link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
    script(src="/socket.io/socket.io.js")
  body

    h3 Current Players
    table.table.table-bordered.table-hover
      thead
        tr
          th Player
          th (X, Y, Z)
          th Realm
      tbody#player-list

    h3 Recent Deaths
    table.table.table-bordered.table-hover
      thead
        tr
          th Player
          th (X, Y, Z)
          th Realm
      tbody#death-list


    script(id="header_row", type="text/html")

    script(id="player_row", type="text/html")
      tr
        td 
          //- img(src="http://overviewer.org/avatar/{{player}}", height="16", width="8") 
          {{player}}
        td ({{x}}, {{y}}, {{z}})
        td {{realm}}

    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10/ICanHaz.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/index.js")
