!!! 5
html
  head
    title
      | VOKAL Minecraft Player List
    link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
  body
    table.table.table-bordered.table-hover
      tr
        th Player
        th (X, Y, Z)
      for p in players
        tr
          td #{p.player}
          td (#{p.x}, #{p.y}, #{p.z})

    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="js/bootstrap.min.js")
